* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0.5em;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* NavBar */
#navbar {
  width: 1900px;
  height: 60px;
  overflow: auto;
}


#navbar .left-nav {
  list-style: none;
  float: left;

}

#navbar .center-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 10px;
}

#navbar .center-nav li {
  display: inline;
  align-items: center;
  padding: 20px;
}

#navbar .center-nav a {
  float: none;
  position: relative;
  left: 660px;
  top: 20px;
}

#navbar .right-nav {
  list-style: none;
  float: right;
}


#navbar .right-nav li {
  display: inline;
  top: 20px;
}


#navbar ul li a:hover,
#navbar ul li a.current {
  background: #fff;
  color: black;
}


.header {
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  padding: 0 16px;
  float: right;
  padding: 10px;
}

.section-1 {
  width: 1900px;
  height: 800px;
  flex: auto;
  background-image: url("./images/model-3-main-page_720.jpg");
  background-size: cover;
}

.header-alert {
  background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%, rgba(108, 148, 255, .92) 0, rgba(0, 0, 0, .92) 100%);
  color: #fff;
  margin-top: 0px;
  padding: 20px;
  height: 20px;
  text-align: center;
}

.seedetais {
  color: #fff;
}

.hero_top_Center_text {
  text-align: center;
  color: #fff;
  padding: 30px 60px;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: auto;
  position: relative;
  top: 50px;
}

.hero_top_Center_text h1 {
  text-align: center;
}

.hero_bottom_Center_text {
  text-align: center;
  color: #fff;
  padding: 30px 60px;
  font-size: 20px;
  font-family: sans-serif;
  position: relative;
  top: 350px;
}

/* Table */
table,
th,
td {
  border: 0px solid white;
  border-collapse: collapse;
  position: relative;
  left: 320px;
  top: 200px;
  font: bold;

}

th,
td {
  text-align: center;
  color: #fff;
  background-color: transparent;
}

td button {
  font: bold;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 20%;
  }